@import "tailwindcss";

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility text-balance {
  text-wrap: balance;
}

@layer utilities {
  body {
    font-family: "Arimo", "Inter", sans-serif;
    @apply bg-white text-gray-800;
  }
}

.animate path,
.animate circle {
  stroke-dasharray: 150;
  stroke-dashoffset: 150;
  animation: draw 2s ease forwards;
}

.animate path:nth-child(2) {
  animation-delay: 0.3s;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
